body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: helvetica;
  background-image: url("../img/linen.png");
  background-repeat: repeat-xy; }

#content-wrapper {
  margin: 10px auto;
  width: 75%;
  min-width: 200px;
  background-color: #F6E1AE;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888; }

#content-wrapper button {
  margin: 10px; }

#game-pad {
  margin: 10px 2%;
  width: 95%;
  position: relative; }
  #game-pad #mission-wrapper {
    width: 20%;
    height: 400px;
    position: absolute;
    top: 4%;
    left: 4%; }
    #game-pad #mission-wrapper .mission-board {
      margin: 10px 0;
      width: 100%;
      height: 180px;
      background-color: #A0785A;
      border: 1px solid #FFFFFF;
      border-radius: 10px; }
  #game-pad #game-canvas {
    margin: 10px 2%;
    width: 60%;
    height: 600px;
    display: inline;
    float: left;
    border: 1px solid #FFFFFF;
    background-image: url("../img/wood.jpg");
    background-repeat: repeat-xy; }
  #game-pad #card-desk {
    margin: 10px 2%;
    width: 30%;
    height: 600px;
    display: inline-block;
    border: 1px solid #FFFFFF; }
  #game-pad #card-wrapper {
    margin: 10px auto;
    width: 80%; }
    #game-pad #card-wrapper ul {
      margin: 0 10%;
      padding: 0;
      width: 80%;
      list-style-type: none; }
    #game-pad #card-wrapper li {
      margin: 5% 5%;
      width: 90%;
      height: 15%; }
      #game-pad #card-wrapper li .cards {
        width: 100%;
        height: 100px;
        background-color: #F1CB6C;
        border-radius: 10px;
        box-shadow: 1px 1px .5px #888888;
        font-weight: bold;
        text-align: center; }
        #game-pad #card-wrapper li .cards:hover {
          opacity: 0.6; }
